/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background: black;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.left { float: left; }
.right { float: right; }

header {
    z-index: 50;
    height: 30px;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,0.4);
}

header p { text-align: center; }

header div { margin: 5px; }

.how { text-align: center; }

.taco {
    background: url("../img/yoav.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto 0 auto;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.temp {
    z-index: 2;
    bottom: 70%;
    position: absolute;
    font-size: 800%;
    margin-left: 20px;
    color: white;
    font-weight: 400;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

.type {
    font-size: 500%;
    z-index: 2;
    position: absolute;
    bottom: 60%;
    margin-left: 20px;
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.desc {
    display: none;
    position: absolute;
    top: 30px;
    width: 100%;
    background: rgba(0,0,0,0.9);
    z-index: 40;
    height: 75px;
    font-size: 150%;
    color: white;
    text-align: center;
    /*background: rgba(0, 0, 0, .5);*/
    /*padding: 15px;*/
}

a, a:link, a:visited { color: white; }

.city {
    color: white;
    z-index: 20;
    position: absolute;
    bottom: 50%;
    left: 2%;
    font-size: 300%;
    -webkit-text-stroke: 1px black;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
}

.forecast {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
}

.forecast ul { padding: 0 50px 0 50px; }

.forecast .day {
    display: inline-block;
    width: 9.5%;
    text-align: center;
    z-index: 50;
}

.forecast .day h4 { margin: 10px 0; }

.forecast .day .l { color: gray; }

.forecast .day.close { display: none; z-index: 99; }

.hide {display: none;}

input { padding: 10px; }

.wDefault { background: url(../img/weatherimg/defaultiguess.jpg) no-repeat center center fixed; }
.wTStorm { background: url(../img/weatherimg/lightning.jpg) no-repeat center center fixed; }
.wDrizzle { background: url(../img/weatherimg/drizzle.jpg) no-repeat center center fixed; }
.wRain { background: url(../img/weatherimg/rain.jpg) no-repeat center center fixed; }
.wLSnow { background: url(../img/weatherimg/lightsnow.jpg) no-repeat center center fixed; }
.wHSnow { background: url(../img/weatherimg/heavysnow.jpg) no-repeat center center fixed; }
.wHaze { background: url(../img/weatherimg/haze.jpg) no-repeat center center fixed; }
.wClear { background: url(../img/weatherimg/clear.jpg) no-repeat center center fixed; }
.wPCloud { background: url(../img/weatherimg/partlycloudy.jpg) no-repeat center center fixed; }
.wMCloud { background: url(../img/weatherimg/mostlycloudy.jpg) no-repeat center center fixed; }
.wOcast { background: url(../img/weatherimg/overcast.jpg) no-repeat center center fixed; }

.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}


/* TODO: Change color based on image */
@media only screen and (max-width: 1600px) {

    .temp { font-size: 400%; bottom: 80%;}
    .type { font-size: 400%; bottom: 70%;}

}

@media only screen and (max-width: 1350px) {

    header {
        font-size: 150%;
        height: 40px;
    }

    .desc { top: 40px; }

    .forecast {
        position: absolute;
        z-index: 40;
        width: 100%;
        height: 100%;
        height: calc(100% - 40px);
        top: 40px;
        font-size: 130%;
        background: black;
    }

    .forecast .day {
        margin: 0 auto;
        padding-left: 40px;
        width: 25%;
        display: inline-block;
    }

    .forecast .day img { margin: 0; }

    .forecast .day.close { 
        display: inline-block;
        text-align: center;
        font-size: 120%;
        padding-top: 100px;
    }
    .forecast .day.spacer {display: none;}

}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (max-width: 750px) {

    header { height: 80px; }
    .how { margin-top: 40px; }
    .desc { top: 80px; height: 100px; }

    .forecast {
        height: calc(100% - 80px);
        top: 80px;
        font-size: 250%;
        overflow: scroll;
        background: black;
    }

    .forecast .day { 
        width: 40%;
    }

    .forecast .day.close {
        width: 100%;
        padding: 0;
    }

    .temp {
        font-size: 400%;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .type {
        font-size: 400%;
        margin: 0;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .forecast { top: 55px; }
    .taco { background-size: 100%; }
    .temp { font-size: 400%; bottom: 80%; }
    .type { font-size: 400%; bottom: 70%; }
}

@media only screen and (max-width: 350px) {
    .temp { font-size: 350%; bottom: 70%;}
    .type { font-size: 350%; bottom: 60%;}
}
