// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background:  url('../images/yoav.png') no-repeat center center, url('../images/bg.jpg') no-repeat fixed;
  background-position: center bottom, center center;
  // background: black;
  background-size: auto 400px, cover;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  overflow: hidden;
}

// Loading animation
.loader {
  width: 50%;
  height: 0;
  position: relative;
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: white transparent transparent transparent;
  transition: opacity 0.2s ease;

 .sk-double-bounce {
    position: absolute;
    top: -90px;
    right: 10px;
    margin: 0;
  }
}

// Info block
.about {
  text-transform: uppercase;
  font-size: 90%;
  text-align: center;

  a, a:visited {
    color: black;
  }
}

// Forecast Styles
.forecast {
  font-family: 'Lato', sans-serif;
  color: black;
  padding: 10px;
  margin-top: -8%;
  transition: opacity 0.2s ease;

  section { width: 100%; }


  h1 { margin: 0; font-weight: 400; }

  .icon {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
  }

  .temp {
    display: inline-block;
    padding-top: 20px;

    &:after {
      content: 'and';
      padding-left: 10%;
    }
  }

  &.currently .summary {
    margin: 0 0 0 50px;
    padding: 15px 0 15px;
    font-size: 2.5em;
  }

  .summary {
    font-weight: 400;
    font-size: 2em;
  }

  .city {

    &:before {}
  }

  svg {fill: currentColor;}

}

.card {
  background: white;
  padding: .5em;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.offline { display: none; }

main { 
  position: absolute;
  bottom: 1em;
  left: 1em;
  
  width: 500px;
  height: 12em;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin: .2em 0 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main ul li {
  padding: 10px 0 2px;
  width: 7em;
  text-align: center;
  border-bottom: 1px solid black;
  color: black;
}

main ul li label {
  width: 100%;
  display: block;
  cursor: pointer;
}

main input {
  display: none;
}

main ul li:hover {
  color: #03a9f4;
  border-bottom: 1px solid #03a9f4;
}

section { display: none; }

#t1:checked ~ ul li.l1 {
  color: #03a9f4; border-bottom: 1px solid #03a9f4;
}
#t1:checked ~ .currently { display: block; }
#t2:checked ~ ul li.l2 {
  color: #03a9f4; border-bottom: 1px solid #03a9f4;
}
#t2:checked ~ .next-day { display: block; }
#t3:checked ~ ul li.l3 {
  color: #03a9f4; border-bottom: 1px solid #03a9f4;
}
#t3:checked ~ .next-week { display: block; }
#t4:checked ~ ul li.l4 {
  color: #03a9f4; border-bottom: 1px solid #03a9f4;
}
#t4:checked ~ .about { display: block; }

@media all and (max-width: 1450px) {
    html { 
      background-position: right bottom, center center;
      transition: background-position 0.5s ease; 
    }
}

@media all and (max-width: 930px) {
    html { 
      background-position: center center, center center;
      transition: background-position 0.5s ease; 
    }
}

@media all and (max-width: 930px) {
  .card { width: 95%; height: 32%;}
  .card .forecast { margin-top: -5%; }
}
@media all and (max-width: 700px) {
  
  html { 
    background-position: center 35%, center center;
    transition: background-position 0.5s ease; 
  }
  
  .card { 
    left: 0;
    width: 100%; 
    height: 40%; 
    
    ul li { width: 40%; }
  
  }
  .forecast {
    h1 { font-size: 1.5em; }
    .icon { width: 50px; height: 50px; }
    .summary { font-size: 1.5em; }
    &.currently .summary { font-size: 1.5em; margin: -5px 0 0 30px; }
    
  }
}

// Spinkit Style
.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto; }
  .sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
            animation: sk-doubleBounce 2s infinite ease-in-out; }
  .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
